<!DOCTYPE html>
<html lang="pt-br">

<head>

<meta charset="UTF-8">

<title>ObraControl</title>
<div class="row mb -4">
<div class="col-md-3">
<div class="card shadow text-center">
<div class="card-body">
<h5>📦 Materiais</h5>
<h2>{{ total_materiais }}</h2>
</div>
</div>
</div>
<div class="col-md-3">
<div class="card shadow text-center">
<div class="card-body">
<h5>📂 Categorias</h5>
<h2>{{ categorias }}</h2>
</div>
</div>
</div>
<div class="col-md-3">
<div class="card shadow text-center">
<div class="card-body">
<h5>⚠ Estoque Baixo</h5>
<h2>{{ estoque_baixo }}</h2>
</div>
</div>
</div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">
    <nav class="navbar navbar-expand lg navbar-dark bg-primary shadow">
        <div class="container">
            <a class="navbar-brand fw-bold fs-3" href="/">🏗️ ObraControl</a>
            <span class="navbar-text text-white">Sistema de Gerenciamento de Materiais</span>
        </div>
    </nav>

<div class="container mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

            {% for category, message in messages %}

                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">

                    {{ message }}

                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert">
                    </button>

                </div>

            {% endfor %}

        {% endif %}
    {% endwith %}

<div class="d-flex justify-content-between mb-4">

<form method="GET" class="mb-4">
    <div class="input-group">
        <input type="text" class="form-control" name="pesquisa" placeholder="Pesquisar material..." value="{{ pesquisa  }}">
        <button class="btn btn-dark" type="submit">🔍 Pesquisar</button>
    </div>
</form>

<a href="/cadastrar" class="btn btn-primary">
➕ Novo Material
</a>

</div>

<table class="table table-hover table-bordered align-middle shadow">

<thead>

<tr>

<th class="text-center">Nome</th>

<th class="text-center">Categoria</th>

<th class="text-center">Quantidade</th>

<th class="text-center">Unidade</th>

<th class="text-center">Valor</th>

<th class="text-center">Fornecedor</th>

<th class="text-center">Ações</th>

</tr>

</thead>

<tbody>

{% for material in materiais %}

<tr>

<td>{{ material.nome }}</td>
<td>{{ material.categoria }}</td>
<td class="text-center">
{% if material.quantidade < 5 %}
<span class="badge bg-danger">
{{ material.quantidade }}
</span>
{% else %}
<span class="badge bg-success">
{{ material.quantidade }}
</span>
{% endif %}
</td>
<td>{{ material.unidade }}</td>
<td>R$ {{ "%.2f"|format(material.valor) }}</td>
<td>{{ material.fornecedor }}</td>
<td class="text-center">
    <a href="/editar/{{ material.id }}" class="btn btn-warning">
        ✏️
    </a>
    <a href="/excluir/{{ material.id }}" class="btn btn-danger"
    onclick="return confirm('Deseja excluir este material?')">
        🗑️
    </a>
</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>
<footer class="text-center mt-5 mb-3 text-muted">

<hr>

ObraControl © 2026

<br>

Desenvolvido em Python + Flask + SQLite

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>